@import "../src/layouts/BasicLayout/BasicLayout.css";

@import "../src/components/Footer/Footer.css";


.popular-products{
    padding-bottom: 300px;
}

.popular-products img {
    width: 100%;
    height: 100%;
    padding: 10px;
}


.popular-products [class*=card-product] a.title {
    color: #212529;
    display: block;
    
}

.info-wrap {
    padding: 10px;
}